@import 'bulma.min.css';


:root {
    --main-bg-color: brown;
    --bulma-title-color: red;
}
  

body {
    margin: 0px !important;
    padding: 0 !important;
    box-sizing: border-box;
    background-color: red ;
}





html[data-theme="light"] body{
    background-color: white;
    
}


html[data-theme="dark"] body{
    background-color: #000;
}



